#cv{
  border-style: solid;
  width:850px;
  height:1100px;
  font-family: "Monaco", serif;
}

#cv .left{
  float : left;
  width:250px;
  height:1100px;
  background-color:#dadada;
  background-size: cover;
  margin-right:50px;
  padding-right: 30px;
  padding-left: 40px;
  color:rgb(43, 43, 43);

}
#cv .right{
  padding-top: 5%;
  margin-left: 50px;
  margin-right: 50px;
  width:750px;
  height:1099px;
  background-color: rgb(255, 255, 255);
  color:rgb(99, 99, 99);
}
#cv img{
  border-radius: 50%;
  padding-top: 10px;
}