#cv{
  
}

#cv .left{
  float : left;
  width:250px;
  height:950px;
  background-color: bisque;
  margin-right:50px;
}
#cv .right{
  margin-left: 50px;
  margin-right:100px;
  width:530px;
  height:950px;
  background-color: aqua;
}